body {
  text-align: center;
  background-color: #142850;
}

h1 {
  font-size: 7rem;
  color: #DBEDF3;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: 'Nanum Gothic Coding', monospace;
}

.w {
  background: url("images/tom1.png") no-repeat;

}

.a {
  background: url("images/tom2.png") no-repeat;

}

.s {
  background: url("images/tom3.png") no-repeat;

}

.d {
  background: url("images/tom4.png") no-repeat;

}

.j {
  background: url("images/snare.png") no-repeat;

}

.k {
background: url("images/crash.png") no-repeat;
}

.l {
background: url("images/kick.png") no-repeat;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #27496d;
  font-size: 5rem;
  font-family: 'Bangers', cursive;
  line-height: 2;
  font-weight: 900;
  color: #fe346e;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
